@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

:root {
    --cream: #ead9b7;
    --wood: #837761;
    --yellow: #fdd340;
    --coffee: #170801;
    --grey: #b8aaa0;
    --light-cream: #e6e6e6;  
  }
  
  body {
      background-color: var(--light-cream);
      font-family: 'Fredoka', sans-serif;   
    
  }

  .login-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 51vh;
        position: fixed;
        text-align: center;
        font-family: 'Fredoka', sans-serif;   
  }

  h1 {
      color: var(--coffee);
      font-size: 30px;
  }

  .input {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  input {
      margin: 15px;
      width: 240px;
      font-size: 18px;
      height: 40px;
        border-radius: 5px;
        border: none;
  }

  .btn-login {
      color: var(--coffee);
      background-color: var(--yellow);
      margin-top: 20px;
      width: 90px;
      height: 40px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      font-size: 17px;
  }
