nav {
    display: flex;
    flex-direction: column;
}



ul {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    width: 100vw;
    list-style-type: none;
}

li {
    text-decoration: none;
}

